<div class="container-md">
  <div class="d-flex justify-content-center">
    <div class="d-flex flex-column mb-3">
      <h1>Conversor de moedas</h1>
      <select class="form-select form-select-md mb-4" aria-label=".form-select-md 1" [(ngModel)]="moeda1">
        <option selected>Moeda de entrada</option>
        <option value="Dólar">Dólar</option>
        <option value="Real">Real</option>
        <option value="Euro">Euro</option>
      </select>
      <select class="form-select form-select-md mb-4" aria-label=".form-select-md 2" [(ngModel)]="moeda2">
        <option selected>Moeda de saída</option>
        <option value="Dólar">Dólar</option>
        <option value="Real">Real</option>
        <option value="Euro">Euro</option>
      </select>
      <div class="form-floating mb-4">
        <input type="number" class="form-control" id="floatingInput" placeholder="00.00" [(ngModel)]="value">
        <label for="floatingInput">Valor para converter</label>
      </div>
      <div class="form-floating mb-4">
        <input type="number" class="form-control" id="floatingPassword" placeholder="00.00" [(ngModel)]="ratio">
        <label for="floatingInput">Valor de câmbio</label>
      </div>
      <button type="button" class="btn btn-primary" (click)="calc()">Converter</button>

      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">[(ngModel)]="moeda1"</th>
            <th scope="col">[(ngModel)]="moeda2"</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>a</td>
            <td>b</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
